<!doctype html>

<html>
  <head>
    <title><%= name %></title>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1,shrink-to-fit=no">
    <meta
      name="description"
      content="<%= description %>">

    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>

  <body>
    <script src="/javascript/index.js"></script>
  </body>
</html>

